body{
    margin: 0 5% 0 5%;
    font-family:var(--font-padrão);
    min-width: 530px;
    overflow-x: hidden;

}
:root{
    --font-padrão: "Belanosima";
    --cor-verm: #F75C4E;
}
/* Começo nav menu */
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    text-decoration: underline;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 0 30px;
    margin-right: 10px;
    font-size:18px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* Fim nav menu */
/* Começo seção informacional */
.container{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    justify-content: space-between;
    align-items: center;
}
#sessao-topo img{
    width: 95%;
    height: 470px;
    margin-top: 8%;
}
#informe-maria h1{
    font-size: 50px;   
}
#informe-maria p{
    font-size: 16px;
}
#informe-maria #btn-services{
    margin-top: 5%;
    padding: 13px 30px;
    border-radius: 20px;
    border: none;
    background-color:var(--cor-verm);
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
/* Fim informacional */
/* Começo seção clientes */
#clientes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    justify-content: space-between;
    align-items: center;
}
#clientes h2{
    font-size: px;
    width: 25%;
}
#clientes .img-group{
    display: flex;
    gap: 10px 20px;
    margin-left: 5%;
    width: 100%;
    flex-wrap: wrap;
    flex: 1 1 300px;
    justify-content: space-between;
    align-items: center;
}
/* Fim seção clientes */
/* Começo seção equipe */
#informe-equipe .title{
    color:var(--cor-verm);
    font-weight: bold;
    margin: 0;
}
#informe-equipe{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#informe-equipe h1{
    font-size: 35px;
    font-weight: bold;
}
#informe-equipe form input{
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: var(--cor-verm);
}
#informe-equipe form input::placeholder{
    padding-left:8px;
    font-size: 14px;
}
#informe-equipe form button{
    margin-top: 8%;
    padding:13px 30px;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #1F7CFF;
}

#img-equipe img{
    margin-top: 5%;
    width: 95%;
    height: 470px;
}
/* Fim equipe */
/* começo seção trabalho */
#meu-trabalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex: 1 1 500px;
}
#meu-trabalho h1{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
#meu-trabalho p{
    color:var(--cor-verm);
    font-weight: bold;
}
/* Fim seção trabalho */
/* Começo seção portifolio */
#portifolios{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px 20px;
    margin-top: 4%;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
/* Fim seção portifolio */
/* Começo seção title serviços */
#services{
    text-align: center;
    margin-top: 8%;
    width: 100%;
}
#services .title{
    color:var(--cor-verm);
    font-weight: bold;
    
}
#services h1{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
/* Fim title serviços */
.serv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 6%; 
    flex-wrap: wrap;
    flex: 1 1 300px;
}
